@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Outfit", "sans-serif";
  margin: 0px;
  padding: 0px;
}
:root {
  --theme-color: #FFAA18; /* Website theme color */
  --primary-color: #000;  /* Primary text color */
}

/* Enable flip on Y axis */
.group:hover .group-hover\:flip-y {
  transform: rotateY(180deg);
}

